body{
    padding:0;
    margin: 0;
    background-color:white;
    color: black;
    font-size: 16px;
    font-family: 'Zilla Slab Highlight', cursive;
}
.button{
    position: absolute;
    display: inline-flex;
    left: 500;
    margin-left: 70%;
    
}
.btn{
    position: absolute;
    top: -30px;
    margin-left: 70px;
    
    
}
.btn-cancle{
    position: absolute;
   top:20px;
    margin-left: 70%;
    
    
}


.submit{
    position: absolute;
   top:20px;
    margin-left: 75%;
}
.btn-add{
    position: absolute;
    top: -30px;
    margin-left: 20px;
    
}
.error{
    color: red;
}

.box{
    display: inline-flex;
    width: 200px;
    height: 150px;
    margin-left: 10px;
    margin-top: 10px;
    border: 2px solid brown;
    box-shadow: 5px 5px 5px darkred;
    text-align: center;
    
}

.detail{
  align-content: center;
    line-height: 0;
}
.footer{
    margin-top: 50vh;
    text-align: center;
    width: 100%;
}

